@import url('https://fonts.googleapis.com/css?family=Anton');
*{
	margin: 0;
	padding: 0;
}

body{
	background: #E1E3F1;
}

p{
	font-family: arial;
}


header{
	background-color:#5663C1;
	height:100px;
	width:100%;
	box-shadow:0px 15px 100px #5663C1;
	position: fixed;
	z-index: 1;
}
.wrapper{
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
}
ul{
	list-style-type: none;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	width:80%;
	margin-left:20%;
	margin-top:-65px;

}
li{
	float:left;
	width:20%;
}
a:link,a:visited{
	font-family:arial;
	font-size:16pt;
	height:35px;
	line-height:200%;
	display:block;
	color:rgba(255,255,255,0.8);
	text-align:center;
	text-decoration:none;
	margin-right:30px;
}
a:hover,a:active{
	font-size:16pt;
	color:rgba(255,255,255,1);
}
.logo{
	width:260px;
	height:90px;
	float:left;
}

.logo a{
	font-family: 'Anton';
	font-size: 200%;
	color: white;
	margin-top: -5%;
}


h2{
	color:#5663C1;
	font-family: arial;
}

.tjedni{
	position: relative;
	margin-top: 15%;
	float:left;
	width: 100%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.gallery{
	float: left;
}

.gallery img{
	float: left;
	width: 390px;
	height: 300px;
	padding: 2px;
}

.submit{
	width: 150px;
	height: 40px;
	float: right;
	background-color: #5663C1;
	font-family: arial;
	color: #fff;
}

.submit:hover{
	border:solid 2px;
}

.komentari{
	font-family: arial;
	line-height: 1.3;
}

.username{
	color: #5663C1;
	text-transform: uppercase;
	font-weight: bold;
}

.comment{
	display: block;
	padding: 5px;
}

.date{
	font-size: 8pt;
	color: grey;
}

textarea{
	font-family: arial;
}
